<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": false, "stickyStartAt": 146, "stickySetTop": "-146px", "stickyChangeLogo": false}'>
	<div class="header-body">
		<div class="header-top">
			<div class="container">
				<div class="dropdowns-container">
					<div class="header-dropdown cur-dropdown">
						<a href="#">USD <i class="fa fa-caret-down"></i></a>

						<ul class="header-dropdownmenu">
							<li><a href="#">EUR</a></li>
							<li><a href="#">USD</a></li>
						</ul>
					</div>

					<div class="header-dropdown lang-dropdown">
						<a href="#"><img src="{{ site.baseurl }}/img/demos/shop/en.png" alt="English">English <i class="fa fa-caret-down"></i></a>

						<ul class="header-dropdownmenu">
							<li><a href="#"><img src="{{ site.baseurl }}/img/demos/shop/en.png" alt="English">English</a></li>
							<li><a href="#"><img src="{{ site.baseurl }}/img/demos/shop/fr.png" alt="French">French</a></li>
						</ul>
					</div>

					<div class="compare-dropdown">
						<a href="#"><i class="fa fa-retweet"></i> Compare (2)</a>

						<div class="compare-dropdownmenu">
							<div class="dropdownmenu-wrapper">
								<ul class="compare-products">
									<li class="product">
										<a href="#" class="btn-remove" title="Remove Product"><i class="fa fa-times"></i></a>
										<h4 class="product-name"><a href="demo-shop-10-about-us.html">White Bracelet</a></h4>
									</li>
									<li class="product">
										<a href="#" class="btn-remove" title="Remove Product"><i class="fa fa-times"></i></a>
										<h4 class="product-name"><a href="demo-shop-10-about-us.html">Blue Earrings</a></h4>
									</li>
								</ul>

								<div class="compare-actions">
									<a href="#" class="action-link">Clear All</a>
									<a href="#" class="btn btn-primary">Compare</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="top-menu-area">
					<a href="#">Links <i class="fa fa-caret-down"></i></a>
					<ul class="top-menu">
						<li><a href="demo-shop-11-myaccount.html">My Account</a></li>
						<li><a href="#">Weekly Deal</a></li>
						<li><a href="#">My Wishlist</a></li>
						<li><a href="demo-shop-11-blog.html">Blog</a></li>
						<li><a href="demo-shop-11-login.html">Log in</a></li>
					</ul>
				</div>
				<p class="welcome-msg">WELCOME ACE!</p>
			</div>
		</div>
		<div class="header-container container">
			<div class="header-row">
				<div class="header-column">
					<div class="row">
						<div class="header-search">
							<a href="#" class="search-toggle"><i class="fa fa-search"></i></a>
							<form action="#" method="get">
								<div class="header-search-wrapper">
									<input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
									<select id="cat" name="cat">
										<option value="">All Categories</option>
										<option value="4">Jewelry Basics</option>
										<option value="12">- BOHO - NEW!</option>
										<option value="13">- Class In A Box</option>
										<option value="66">- Crystazzi</option>
										<option value="67">- M'Bellish</option>
										<option value="5">Tools &amp; Cording</option>
										<option value="21">- Precision Comfort Tools</option>
										<option value="22">- Tools</option>
										<option value="63">- Beadalon</option>
										<option value="7">Kids</option>
										<option value="11">Kits</option>
										<option value="31">- Technique Kits</option>
										<option value="32">- Class In A Box Kits</option>
										<option value="33">- Crystazzi Kits</option>
									</select>
									<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
								</div>
							</form>
						</div>

						<a href="#" class="mmenu-toggle-btn" title="Toggle menu">
							<i class="fa fa-bars"></i>
						</a>
					</div>
				</div>
				<div class="header-column header-column-center">
					<div class="header-logo">
						<a href="demo-shop-11.html">
							<img alt="Cousin DIY"  src="{{ site.baseurl }}/images/cousindiy.png">
						</a>
					</div>
				</div>
				<div class="header-column">
					<div class="row">
						<div class="cart-area">
							<div class="custom-block">
								<i class="fa fa-phone"></i>
								<span>727-536-3568</span>
								<span class="split"></span>
								<a href="#">CONTACT US</a>
							</div>

							<div class="cart-dropdown">
								<a href="#" class="cart-dropdown-icon">
									<i class="minicart-icon"></i>
									<span class="cart-info">
										<span class="cart-qty">2</span>
										<span class="cart-text">item(s)</span>
									</span>
								</a>

								<div class="cart-dropdownmenu right">
									<div class="dropdownmenu-wrapper">
										<div class="cart-products">
											<div class="product product-sm">
												<a href="#" class="btn-remove" title="Remove Product">
													<i class="fa fa-times"></i>
												</a>
												<figure class="product-image-area">
													<a href="demo-shop-10-product-details.html" title="Product Name" class="product-image">
														<img src="{{ site.baseurl }}/img/demos/shop/products/thumbs/cart-product1.jpg" alt="Product Name">
													</a>
												</figure>
												<div class="product-details-area">
													<h2 class="product-name"><a href="demo-shop-10-product-details.html" title="Product Name">Blue Round Beads</a></h2>

													<div class="cart-qty-price">
														1 X
														<span class="product-price">$65.00</span>
													</div>
												</div>
											</div>
											<div class="product product-sm">
												<a href="#" class="btn-remove" title="Remove Product">
													<i class="fa fa-times"></i>
												</a>
												<figure class="product-image-area">
													<a href="demo-shop-10-product-details.html" title="Product Name" class="product-image">
														<img src="{{ site.baseurl }}/img/demos/shop/products/thumbs/cart-product2.jpg" alt="Product Name">
													</a>
												</figure>
												<div class="product-details-area">
													<h2 class="product-name"><a href="demo-shop-10-product-details.html" title="Product Name">Black Thin Cord</a></h2>

													<div class="cart-qty-price">
														1 X
														<span class="product-price">$39.00</span>
													</div>
												</div>
											</div>
										</div>

										<div class="cart-totals">
											Total: <span>$104.00</span>
										</div>

										<div class="cart-actions">
											<a href="{{site.baseurl}}/cart" class="btn btn-primary">View Cart</a>
											<a href="{{site.baseurl}}/checkout" class="btn btn-primary">Checkout</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-container header-nav">
			<div class="container">
				<div class="header-nav-main">
					<nav>
						<ul class="nav nav-pills" id="mainNav">
							<li class="active">
								<a href="{{ site.baseurl }}/products">
									Products
								</a>
							</li>
							<li class="dropdown dropdown-mega">
                    <a href="#" class="dropdown-toggle">
                      Learning Center
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="dropdown-mega-content">

                          <div class="row">
                            <div class="col-md-8">
                              <div class="row">
                                <div class="col-md-4">
                                  <a href="{{ site.baseurl }}/youtube" class="cat-img"><img src="{{ site.baseurl }}/img/demos/shop/cat-tv.png" alt="Category Name"></a>

                                  <a href="{{ site.baseurl }}/youtube" class="dropdown-mega-sub-title">Watch &amp; Learn</a>
                                  <ul class="dropdown-mega-sub-nav">
                                    <li><a href="demo-shop-7-category-4col.html">TV, Audio</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Computers &amp; Tablets</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Home Office Equipments</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">GPS Navigation</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Car Video, Audio &amp; GPS</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Radios &amp; Clock Radios</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-4">
                                  <a href="{{ site.baseurl }}/pinterest" class="cat-img"><img src="{{ site.baseurl }}/img/demos/shop/cat-camera.png" alt="Category Name"></a>
                                  <a href="{{ site.baseurl }}/pinterest" class="dropdown-mega-sub-title">Step by Step Technique</a>
                                  <ul class="dropdown-mega-sub-nav">
                                    <li><a href="demo-shop-7-category-4col.html">Cell Phones &amp; Accessories</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Cameras &amp; Photo</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Photo Accessories</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">IP Phones</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Samsung Galaxy Phones</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">iPad &amp; Android Tablets</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-4">
                                  <a href="{{ site.baseurl }}/pinterest" class="cat-img"><img src="{{ site.baseurl }}/img/demos/shop/cat-game.png" alt="Category Name"></a>
                                  <a href="{{ site.baseurl }}/pinterest" class="dropdown-mega-sub-title">Project Ideas</a>
                                  <ul class="dropdown-mega-sub-nav">
                                    <li><a href="demo-shop-7-category-4col.html">e-Book Readers</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Video Games &amp; Consolers</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Printers &amp; Scanners</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Digital Picture Frames</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">3D Fashion Games</a></li>
                                    <li><a href="demo-shop-7-category-4col.html">Game Machine &amp; Devices</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="menu-banner-area">
                                <img src="{{ site.baseurl }}/img/demos/shop/menu-cat.png" alt="Menu Banner">

                                <p>This is a custom block. You can add any images or links here</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
							<li>
								<a href="{{ site.baseurl }}/designers">
									Designers
								</a>
							</li>

							<li class="pull-right">
								<a href="{{ site.baseurl }}/contact">
									Contact Us
								</a>
							</li>
							<li class="pull-right">
								<a href="{{ site.baseurl }}/announcements">
									In the news
								</a>
							</li>
							<li class="pull-right">
								<a href="{{ site.baseurl }}/blog">
									Blog
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="mobile-nav">
	<div class="mobile-nav-wrapper">
		<ul class="mobile-side-menu">
			<li><a href="{{ site.baseurl }}/diy">Home</a></li>
			<li>
				<span class="mmenu-toggle"></span>
				<a href="#">Products <span class="tip tip-new">New</span></a>

				<ul>
					<li>
						<span class="mmenu-toggle"></span>
						<a href="#">Jewelry Basics</a>
						<ul>
							<li>
								<a href="#">BOHO</a>
							</li>
							<li>
								<a href="#">Class in a Box</a>
							</li>
							<li>
								<a href="#">M'Bellish</a>
							</li>
						</ul>
					</li>
					<li>
						<span class="mmenu-toggle"></span>
						<a href="#">Kids</a>

						<ul>
							<li>
								<a href="#">Fun PAck</a>
							</li>
							<li>
								<a href="#">Beads<span class="tip tip-new">New</span></a>
							</li>

						</ul>
					</li>
					<li>
						<span class="mmenu-toggle"></span>
						<a href="#">Jewelery <span class="tip tip-hot">Hot</span></a>

						<ul>
							<li>
								<a href="#">Bracelets</a>
							</li>
							<li>
								<a href="#">Earrings</a>
							</li>
							<li>
								<a href="#">Necklaces</a>
							</li>
						</ul>
					</li>
					<li>
						<span class="mmenu-toggle"></span>
						<a href="#">Kits</a>
						<ul>
							<li>
								<a href="#">Technique Kits</a>
							</li>
							<li>
								<a href="#">Crystazzi Kits</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<span class="mmenu-toggle"></span>
				<a href="#">Jewelry Supplies</a>
				<ul>
					<li>
						<a href="demo-shop-11-cart.html">Shopping Cart</a>
					</li>
					<li>
						<a href="demo-shop-11-checkout.html">Checkout</a>
					</li>
					<li>
						<span class="mmenu-toggle"></span>
						<a href="#">Loign &amp; Register</a>
						<ul>
							<li>
								<a href="demo-shop-11-login.html">Login</a>
							</li>
							<li>
								<a href="demo-shop-11-register.html">Register</a>
							</li>
						</ul>
					</li>
					<li>
						<span class="mmenu-toggle"></span>
						<a href="#">Dashboard</a>
						<ul>
							<li>
								<a href="demo-shop-11-dashboard.html">Dashboard</a>
							</li>
							<li>
								<a href="demo-shop-11-myaccount.html">My Account</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="demo-shop-11-about-us.html">About Us</a>
			</li>
			<li>
				<span class="mmenu-toggle"></span>
				<a href="#">Blog</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/contact">Contact Us</a>
			</li>

		</ul>
	</div>
</div>

<div id="mobile-menu-overlay"></div>
