/* Add here all your CSS customizations */


.banners-container .slider-area {
	padding: 0 8px;
}
.banners-container .slider-area .owl-carousel {
	margin-bottom: 0;
}
@media (min-width: 992px) {
	.banners-container .slider-area {
		float: left;
		width: 72.3%;
	}
}
.banners-container .slider-area .owl-theme .owl-dots {
	position: absolute;
	bottom: 8px;
	margin: 0;
	left: 0;
	right: 0;
}
@media (min-width: 768px) {
	.banners-container .slider-area .owl-theme .owl-dots {
		bottom: 15px;
	}
}
.banners-container .side-area {
	padding: 0 8px;
}
@media (min-width: 992px) {
	.banners-container .side-area {
		float: left;
		width: 27.7%;
	}
}
.client img {
	max-width: 80% !important;
}

@media (min-width: 992px) {
	#header .header-nav-main nav > ul > li > a {
		font-size: 15px;
		font-weight: 600;
	}
	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
		background-color: #1e1e1e;
	}
}

